.animation-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.pikachu-image{
    width: 10rem;
    height: 10rem;
    align-self: center;
    animation: movimiento 2.5s linear infinite;

}

@keyframes movimiento {
    0%{
        transform: translateX(0);
    }
    /* 25%{
        transform: translateY(100px);
    } */
    50%{
        transform: translateY(50px);
    }
    75%{
        /* transform: translateY(100px); */
    }
    100%{
        transform: translateX(0);
    }
}