.pokecard{
 width: 35vh;
}

.image-container {
    display: flex;
    align-self: center;
    width: 90%;
    height: 15rem;
    border-radius: 5px;

}

.pokemon-image{
    filter: drop-shadow(0px 0px 5px #000);  
}


    

