.modal-content {
    width: 90%;
    min-height: 28rem;
}

.modal-header {
    justify-content: flex-end;
}

.modal-header .modal-title {
    display: flex;
    justify-content: center;
    width: 90%;
    background: linear-gradient(159deg, rgba(255,255,255,1) 10%, rgba(42,107,253,1) 90%);
    border-radius: 0.313rem;
    border: solid 0.063rem lightgrey;
}

.modal-header .btn-close {
    width: 10%;
    font-size: 1.5rem;
}

.modal-title> div> p {
    padding: 1rem;
    font-size: 2.5rem;
}

.pokemon-modal-image {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    filter: drop-shadow(0px 0px 5px #000);
    margin: 0 2rem 0 0;
}

section > article {
    border-radius: 0.313rem;
    border: solid 0.063rem lightgrey;
}

.section-title {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(141deg, #f8312f 0%, #fcd53f 69%);
}

.section-items {
    border-radius: 0.313rem;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0.2rem;
    font-size: 1.5rem;
}

@media (max-width:990px) {

    .pokemon-modal {
        width: 11rem;
        height: 11rem;
        margin: 1rem;
    }

    .modal-title> div> p {
        font-size: 1.8rem;
    }

    .pokemon-modal-image {
        width: 12rem;
        height: 12rem;
        margin: 0 0 1rem 0;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .section-title > p {
        margin-bottom: 0;
    }

    .section-items {
        font-size: 1.2rem;
    }

    .section-items > p {
        margin-bottom: 0;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:500px) {

    .modal-header .btn-close {
        font-size: 1rem;
    }

    .modal-title> div> p {
        font-size: 1.3rem;
        padding: 0.5rem;
    }

    .pokemon-modal-image {
        width: 10rem;
        height: 10rem;
    }

    .section-title {
        font-size: 1rem;
        padding: 0 0.5rem 0.3rem;
    }

    .section-items {
        font-size: 1rem;
        padding: 0 0.5rem 0.3rem;
    }

}
